/* =========================================
   Variáveis e Reset Básico
   ========================================= */
:root {
  --primary-color: #4e73df;
  --secondary-color: #858796;
  --success-color: #1cc88a;
  --info-color: #36b9cc;
  --warning-color: #f6c23e;
  --danger-color: #e74a3b;
  --dark-sidebar: #2c3e50;
  --light-bg: #f8f9fc;
  --font-main: "Poppins", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--light-bg);
  color: #5a5c69;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #4e4e4e;
}

.bg-gradient-secundary {
  background-color: #ffc107;
  background-image: linear-gradient(270deg, #dc3545 10%, #ffc107 100%);
  background-size: cover;
}

/* .modal-header {
  box-shadow: none!important;
  outline: none!important;
} */

/* Remove foco do botão X */
.modal-header .btn-close,
.modal-header .btn-close:focus,
.modal-header .btn-close:active,
.modal-header .btn-close:hover {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

/* Remove foco do header em si (caso receba foco) */
.modal-header,
.modal-header:focus,
.modal-header:active {
  box-shadow: none !important;
  outline: none !important;
  border-bottom: 0px !important;
  /* Garante que não tenha linha embaixo */
}
